<section class="container" style="margin-top: 70px;">
    <section class="row" style="width: 100%;">
        <app-new-content [news]="selectedNews" *ngIf="isnewsSelected" class="col-9"></app-new-content>
        <section class="col-9" *ngIf="!isnewsSelected">
            <div id="list-paging">
                <div class="container" *ngFor="let news of listNews">
                    <div class="card flex-row flex-wrap">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img style="top: auto; bottom: auto; margin: 12px" [src]="imgUrl + news.id" width=180px height=auto>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h5 class="card-title" style="cursor: pointer" (click)="onSelect(news.id)">{{news.title}}</h5>
                                    <p class="card-text">{{news.description}}</p>
                                    <h6 class="card-subtitle mt-2 text-muted">{{news.createAt|date:'medium'}}</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="col-3 float-right">
            <div id="catalog-container">
                <div class="sidenav col-2">
                    <ul class="list-group">
                        <li class="list-group-item row" *ngFor="let catalog of listRootCatalog">
                            <div class="col-sm-10 ">
                                <a class="card-link" style="cursor: pointer">{{catalog.catalog.name}}</a>
                            </div>
                            <div class="col-sm-2"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </section>
</section>